{% block money_widget -%}
    {{- block('price_stylesheet') -}}
    {%- set prepend = not (money_pattern starts with '{{') -%}
    {%- if prepend -%}
        <div class="input-group {{ group_class|default('') }}">
            <span class="input-group-text">{{ money_pattern|form_encode_currency }}</span>
            {{- block('form_widget_simple') -}}
        </div>
    {%- else -%}
        {{- block('form_widget_simple') -}}
    {%- endif -%}

    {{- block('price_javascript') -}}

{%- endblock money_widget %}

{% block price_stylesheet %}
    <style>
        #{{ id }} {
            text-align: right;
        }
    </style>
{% endblock %}

{% block price_javascript %}
    <script type="text/javascript" src="{{ asset('bundles/price/js/jquery.priceFormat.min.js') }}"></script>
    <script>

        (function() {
            priceFormat{{ id|capitalize }}();
        })();

        function priceFormat{{ name|capitalize }}() {
            priceFormat{{ id|capitalize }}();
            console.warn("contact your developer, function 'priceFormat{{ name|capitalize }}()' is deprecated, use 'priceFormat{{ id|capitalize }}()' instead");
        }

        function priceFormat{{ id|capitalize }}() {
            if (!window.jQuery) {
                return;
            }

            generateCentNumber{{ id|capitalize }}();
            format{{ id|capitalize }}();
        }

        function format{{ id|capitalize }}() {
            $('#{{ id }}').addClass('priceformat');
            $('#{{ id }}').priceFormat({
                prefix: '{{ prefix }}',
                suffix: '{{ suffix }}',
                centsSeparator: '{{ cent_point() }}',
                thousandsSeparator: '{{ thousand_point() }}',
                centsLimit: parseInt('{{ cent_limit() }}'),
                allowNegative: {{ allow_negative ? "true":"false" }}
            });
        }

        function generateCentNumber{{ id|capitalize }}() {
            let values = $('#{{ id }}').val().split(".");
            let centValue = "";;
            for (let i = 0; i < parseInt('{{ cent_limit() }}'); i++) {
                if (typeof values[1] != "undefined") {
                    let chr = values[1].charAt(i);
                    centValue += chr.length > 0 ? chr : "0";
                    continue;
                }

                centValue += "0";
            }

            values[1] = centValue;
            $('#{{ id }}').val(parseFloat(values.join(".")));
        }

    </script>
{% endblock %}